body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}


#main {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    height: 800px;
    max-width: 1200px;
    border: blue solid 1px;
}

#upper-form {
    display: flex;
    flex: 1 1 auto;
    border: orange solid 1px;
    flex-direction: column;
}

.txt {
    padding-top: 5rem;
    display: flex;
    flex: 1 1 auto;

}

#right {
    display: flex;
    flex: 1 1 auto;
    border: greenyellow solid 1px;
    height: 100%;
}

#form-input{
    display: flex;
    flex: 2 1 auto;
}