body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}


#main {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    height: 900px;
    max-width: 1300px;
    border: blue solid 1px;
    
}


#upper-form {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

#sect-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: rgb(236, 236, 236);
}

.txt {
    display: flex;
    flex: 0 1 auto;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 150px;
}

#right {
    display: flex;
    flex: 1 1 auto;
    border: rgb(255, 47, 47) solid 1px;
    height: 100%;
 
}

.form-right{
    padding-left: 40px;
    max-width: 640px;
}

#cta {
    padding-bottom: 0px;
    margin-top: 40px;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-right: 90px;
}

.form-col{
    display: flex;
    margin-bottom: 20px;
}

input[class=text-box]{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border-color: rgb(219, 219, 219);
    border-style: solid;
    border-width: thin;

}

input[class=password]{
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border-color: rgb(255, 0, 0);
    border-style: solid;
    border-width: thin;
}

label{
    font-weight: 0;
}

#frm-txt{
    margin-top: 0px;
    margin-bottom: 30px;

}